<launch>

    <arg name="start_aqc_pos_controller_px4" default="true"/>
    <arg name="start_aqc_pos_controller_pid" default="false"/>
    <arg name="start_aqc_pos_controller_rtt" default="false"/>
    <arg name="start_aqc_vel_controller_teleop" default="false"/>

    <arg name="sub_topic_twist_setpoint" default="/cmd_vel"/>
    <arg name="sub_topic_position_setpoint" default="/aqc/cmd_pos"/>

    <!-- launch default PX4 position controller -->
    <group if="$(arg start_aqc_pos_controller_px4)">
        <node pkg="aqc_pos_controller_px4" type="aqc_pos_controller_px4_node" name="aqc_pos_controller_px4_node">
            <remap from="/cmd_pos" to="$(arg sub_topic_position_setpoint)"/>
        </node>
    </group>

    <!-- launch PID position controller -->
    <group if="$(arg start_aqc_pos_controller_pid)">
        <!-- TODO -->
    </group>

    <!-- launch RTT position controller -->
    <group if="$(arg start_aqc_pos_controller_rtt)">
        <!-- TODO -->
    </group>

    <!-- launch teleop velocity controller -->
    <group if="$(arg start_aqc_vel_controller_teleop)">
        <node pkg="aqc_vel_controller_teleop" type="aqc_vel_controller_teleop_node" name="aqc_vel_controller_teleop_node">
            <remap from="/cmd_vel" to="$(arg sub_topic_twist_setpoint)"/>
        </node>
    </group>

</launch>
