<launch>

    <arg name="controller_rate_hz" default="60"/>

    <arg name="start_aqc_pos_controller_px4" default="true"/>
    <arg name="start_aqc_pos_controller_pid" default="false"/>
    <arg name="start_aqc_pos_controller_rtt" default="false"/>
    <arg name="start_aqc_vel_controller_raw_twists" default="false"/>

    <arg name="sub_topic_twist_setpoint" default="/aqc/cmd_vel"/>
    <arg name="sub_topic_position_setpoint" default="/aqc/cmd_pos"/>

    <!-- launch default PX4 position controller -->
    <group if="$(arg start_aqc_pos_controller_px4)">
        <node pkg="aqc_pos_controller_px4" type="aqc_pos_controller_px4_node" name="aqc_pos_controller_px4_node">
            <remap from="/cmd_position" to="$(arg sub_topic_position_setpoint)"/>
            <param name="use_raw_position_target_setpoints" value="True"/>
            <param name="controller_rate_hz" value="$(arg controller_rate_hz)"/>
        </node>
    </group>

    <!-- launch PID position controller -->
    <group if="$(arg start_aqc_pos_controller_pid)">
        <!-- TODO -->
    </group>

    <!-- launch RTT position controller -->
    <group if="$(arg start_aqc_pos_controller_rtt)">
        <!-- TODO -->
    </group>

    <!-- launch teleop velocity controller -->
    <group if="$(arg start_aqc_vel_controller_raw_twists)">
        <node pkg="aqc_vel_controller_raw_twists" type="aqc_vel_controller_raw_twists_node" name="aqc_vel_controller_raw_twists_node">
            <remap from="/cmd_vel" to="$(arg sub_topic_twist_setpoint)"/>
            <param name="controller_rate_hz" value="$(arg controller_rate_hz)"/>
        </node>
    </group>

</launch>
