<launch>

    <arg name="log_output" default="log"/>
    <arg name="baud_rate" default="115200"/>
    <arg name="serial_device" default="/dev/ttyUSB0"/>

    <arg name="start_aqc_pos_controller_px4" default="true"/>
    <arg name="start_aqc_pos_controller_pid" default="false"/>
    <arg name="start_aqc_pos_controller_rtt" default="false"/>
    <arg name="start_aqc_vel_controller_teleop" default="false"/>

    <arg name="sub_topic_twist_setpoint" default="/cmd_vel"/>
    <arg name="sub_topic_position_setpoint" default="/aqc/cmd_pos"/>

    <!-- launch aqc_common -->
    <include file="$(find aqc_driver)/launch/aqc_common.launch">
        <arg name="simulation" value="false"/>
        <arg name="log_output" value="$(arg log_output)"/>
        <arg name="baud_rate" value="$(arg baud_rate)"/>
        <arg name="serial_device" value="$(arg serial_device)"/>
        <arg name="sub_topic_twist_setpoint" value="$(arg sub_topic_twist_setpoint)"/>
        <arg name="sub_topic_position_setpoint" value="$(arg sub_topic_position_setpoint)"/>
        <arg name="start_aqc_pos_controller_px4" value="$(arg start_aqc_pos_controller_px4)"/>
        <arg name="start_aqc_pos_controller_pid" value="$(arg start_aqc_pos_controller_pid)"/>
        <arg name="start_aqc_pos_controller_rtt" value="$(arg start_aqc_pos_controller_rtt)"/>
        <arg name="start_aqc_vel_controller_teleop" value="$(arg start_aqc_vel_controller_teleop)"/>
    </include>

</launch>
