<launch>

    <arg name="simulation" default="false"/>

    <arg name="log_output" default="log"/>
    <arg name="baud_rate" default="115200"/>
    <arg name="serial_device" default="/dev/ttyUSB0"/>
    <arg name="sim_fcu_url" default="udp://:14540@127.0.0.1:14557"/>
    <arg name="px4_mavros_file" default="$(find mavros)/launch/px4.launch"/>

    <!-- for simulating in qgc -->
    <group if="$(arg simulation)">
        <include file="$(arg px4_mavros_file)">
            <arg name="log_output" value="$(arg log_output)"/>
            <arg name="fcu_url" value="$(arg sim_fcu_url)"/>
        </include>
    </group>

    <!-- for use on real hardware -->
    <group unless="$(arg simulation)">
        <include file="$(arg px4_mavros_file)">
            <arg name="log_output" value="$(arg log_output)"/>
            <arg name="fcu_url" value="$(arg serial_device):$(arg baud_rate)"/>
        </include>
    </group>

</launch>
